{{> header}} {{> heading}}

<p>Lorem hbs hbs ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quisquam dolore esse illum sunt? Quos, eum
  fuga impedit ullam quidem qui eligendi ab illo earum magni, incidunt ducimus officia commodi dolorum amet mollitia alias
  natus quae nostrum repellendus odit! Ducimus tempore at et in commodi tenetur molestias reprehenderit reiciendis non!
</p>

{{> footer}}