{{> header}} {{> heading}}

<p>Below is a partial list of my projects</p>

<h3>First Web Server</h3>
<p>
  <a href="https://github.com/duinneacha/nAM-web-server">GitHub Link</a>
  <a href="https://protected-meadow-42348.herokuapp.com/">Heroku Link</a>
</p>
{{> footer}}